*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
input[type="text"]{
    height:75px;
    text-align: right;
    font-size: 26px;
}

.btn{
    width: 24%;
}
.bg-dark{
    border-radius: 13px;
}
#equal{
    width: 100%;
}
